@charset "UTF-8";
/* Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap");
/* variables */
:root {
  font-size: 16px;
}

/* Mixins */
/* main */
main {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* nav */
.navigation {
  position: relative;
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.navigation ul {
  margin: 0;
  padding: 0;
  padding-right: 5%;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.navigation li a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  letter-spacing: 0;
  background-color: #0000EC;
  text-decoration: none;
}

.navigation li a:hover,
.navigation .menu-btn:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

.navigation .logo {
  display: block;
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  text-decoration: none;
}

/* menu */
.navigation .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

/* menu icon */
.navigation .menu-icon {
  cursor: pointer;
  float: right;
  padding: 2em 2em;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.navigation .menu-icon .nav-icon:before,
.navigation .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation .menu-icon .nav-icon:before {
  top: 5px;
}

.navigation .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */
.navigation .menu-btn {
  display: none;
}

.navigation .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.navigation .menu-btn:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

/* content */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 0.33em;
  font-weight: 400;
}

p {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
  font-weight: 400;
  padding-bottom: 2em;
  margin-left: 1em;
  width: 95%;
}

a {
  text-decoration: none;
}

/* header */
.header {
  margin-right: 1em;
  top: 4.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.button_1 {
  font-family: "IBM Plex Mono", monospace;
  background: #00F3BB;
  color: #060A24;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  border: 0em;
  width: 80%;
  margin: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_1:hover {
  text-decoration: none;
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/* Episodios */
.episodes {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  min-height: 78em;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}

.episodes h1 {
  color: #fff;
  margin-top: 1.5em;
}

.episodes div {
  padding: 0.5em 1em;
  z-index: 5;
}

/* De dónde venimos */
.phone {
  position: relative;
  margin-top: -25%;
  margin-right: 1em;
  z-index: 99;
}

.phone p {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
  font-weight: 400;
  padding-bottom: 2em;
  margin-left: 1em;
  padding-bottom: 2em;
  margin-left: 1em;
}

.phone_img {
  z-index: -1;
  width: 98vw;
  height: auto;
}

/* Invitadas/os estelares */
.stellar_guests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

.gallery img {
  width: 100vw;
  height: auto;
}

/* Algunos de nuestros temas */
.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons {
  text-align: center;
  margin: 0 auto;
}

.icons p {
  width: 90%;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

/* NOVEDADES */
.news {
  background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  min-height: 20em;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.news h1 {
  color: #fff;
  padding-top: 1em;
}

.news a {
  font-family: "IBM Plex Mono", monospace;
  background: #00F3BB;
  color: #060A24;
  font-weight: 500;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  border: 0em;
  width: 80%;
}

.news a:hover {
  text-decoration: none;
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/* footer */
.footer {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.social_media div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.social_media a {
  color: #060A24;
}

/* 48em = 768px @ 16px font */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content h1 {
    font-size: 42px;
  }
  .content p {
    font-size: 15px;
  }
  /* header */
  .header {
    margin-left: 6.525em;
    margin-right: 1em;
    top: 12.5em;
  }
  .header p {
    top: 17.75em;
    width: 53%;
  }
  .button_1 {
    top: 300em;
    left: 12.5em;
    width: 12.5em;
    font-size: 18px;
    line-height: 24px;
  }
  /* Episodios */
  .episodes {
    min-height: 50em;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  .episodes h1 {
    padding-left: 3em;
  }
  .episodes_spotify {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  /* De dónde venimos */
  .phone {
    margin-top: -15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .phone h1 {
    padding-top: 2em;
  }
  .phone_img {
    width: 45vw;
    height: auto;
    padding-left: 3em;
  }
  /* Invitadas/os estelares */
  .stellar_guests h1 {
    padding-left: 2em;
  }
  .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .gallery img {
    width: 50vw;
    height: auto;
  }
  /* Algunos de nuestros temas */
  .topics {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topics h1 {
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
  }
  .topics .icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  /* NOVEDADES */
  .news {
    min-height: 20em;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  }
  .news h1 {
    padding-top: 3em;
  }
  .news a {
    width: 30%;
  }
}

/* 64em = 1024px @ 16px font */
@media screen and (min-width: 1024px) {
  main {
    overflow-x: hidden;
  }
  /* nav */
  .navigation .logo {
    padding-left: 6.25em;
  }
  .navigation li {
    float: left;
  }
  .navigation li a {
    color: #060A24;
    background-color: #fff;
    line-height: 28px;
    text-decoration: none;
    padding: 20px 30px;
  }
  .navigation li a:hover,
  .navigation .menu-btn:hover {
    background: #fff;
    color: #00F3BB;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
  .navigation li a:active,
  .navigation .menu-btn:active {
    background: #fff;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
  .navigation .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navigation .menu-icon {
    display: none;
  }
  /* content */
  h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: 400;
  }
  p {
    font-family: "IBM Plex Mono", monospace;
    color: #060A24;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: justify;
    font-weight: 400;
    padding-bottom: 2em;
    margin-left: 1em;
  }
  /* header */
  .header {
    margin-left: 10em;
    margin-right: 1em;
    top: 12.5em;
  }
  .button_1 {
    top: 300em;
    left: 12.5em;
    width: 12.5em;
    font-size: 18px;
    line-height: 24px;
  }
  /* Episodios */
  .episodes {
    min-height: 66em;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
            clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
  }
  .episodes h1 {
    padding-left: 2.5em;
    color: #fff;
  }
  .episodes_spotify {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  /* De dónde venimos */
  .phone {
    margin-top: -15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .phone h1 {
    padding-top: 4em;
  }
  .phone_img {
    width: 45vw;
    height: auto;
    padding-left: 3em;
  }
  /* Invitadas/os estelares */
  .stellar_guests h1 {
    padding-left: 2.5em;
  }
  .gallery {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .gallery img {
    width: 33.33vw;
    height: auto;
  }
  /* Algunos de nuestros temas */
  .topics {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topics h1 {
    padding-left: 2.5em;
  }
  .icons {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* NOVEDADES */
  .news {
    min-height: 32em;
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  }
  .news h1 {
    padding-top: 3em;
  }
  .news a {
    width: 21.5em;
  }
  /* footer */
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .copyright {
    padding-left: 6.25em;
  }
  .social_media {
    margin-right: 6.9%;
  }
  .social_media div {
    margin-left: auto;
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */